<app-navigation></app-navigation>
<br>
<br>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-6" [formGroup]="creditForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Checking Account</label>
        <input type="text" [readonly]="editable" class="form-control" formControlName="checkingAccount" [(ngModel)]="account.checkingAccount">
      </div>
      <div class="form-group">
        <label>Checking Account Balance</label>
        <input type="text" [readonly]="editable" class="form-control" formControlName="checkingBalance" [(ngModel)]="account.checkingBalance">
      </div>
      <div class="form-group">
        <label>Credit Card</label>
        <input type="text" [readonly]="editable" class="form-control" formControlName="creditCard" [(ngModel)]="account.creditCard">
      </div>
      <div class="form-group">
        <label>Credit Card Balance</label>
        <input type="text" [readonly]="editable" class="form-control" formControlName="creditCardBalance" [(ngModel)]="account.creditCardBalance">
      </div>
      <div class="form-group">
        <label>Payment Amount</label>
        <input type="number" class="form-control" formControlName="creditCardPayment" [(ngModel)]="creditForm.value.creditCardPayment" required>
      </div>
      <div class="form-group">
        <button [disabled]="!creditForm.valid" type="submit" class="btn btn-primary btn-block">Submit Payment</button>
      </div>
    </form>  
  </div>
</div>