<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" action='/customer/login/{{this.username}}' method='POST'>
              <div class="form-group">
                <input type="text" id="username" class="form-control" placeholder="Username" name="username" required>
              </div>
              <p></p>
              <div class="form-group">
                <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
              </div>
              <p></p>
              <button type="button" class="btn btn-primary btn-rounded btn-sm my-0">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>